<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PharmacyDataBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PharmacyDataBase.Properties.Settings.PharmacyConnectionString"
            connectionString="Data Source=DESKTOP-Q7CC7L6\MSSQLSERVER01;Initial Catalog=Pharmacy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PharmacyDataBase.Properties.Settings>
            <setting name="FormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </PharmacyDataBase.Properties.Settings>
    </userSettings>
</configuration>